/*@import url("https: //fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");*/

/*
.dropdown-menu.show {
}*/
.dropdown-menu-end {
    right: 0;
    left: auto;
}

.dropdown-menu-animate-up {
    -webkit-animation: animation-dropdown-menu-fade-in 0.5s ease 1, animation-dropdown-menu-move-up 0.5s ease-out 1;
    animation: animation-dropdown-menu-fade-in 0.5s ease 1, animation-dropdown-menu-move-up 0.5s ease-out 1;
}

@-webkit-keyframes animation-dropdown-menu-fade-in {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animation-dropdown-menu-fade-in {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdown-menu-animate-up {
    -webkit-animation: animation-dropdown-menu-fade-in 0.5s ease 1, animation-dropdown-menu-move-up 0.5s ease-out 1;
    animation: animation-dropdown-menu-fade-in 0.5s ease 1, animation-dropdown-menu-move-up 0.5s ease-out 1;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.left-sidebar {
    width: 270px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    height: 100%;
    z-index: 11;
    border-right: 1px solid rgb(229, 234, 239);
}

    .left-sidebar .scroll-sidebar {
        overflow-y: auto;
        padding: 0 24px;
        height: calc(100vh - 80px);
        border-radius: 7px;
    }

        .left-sidebar .scroll-sidebar .simplebar-track.simplebar-horizontal {
            visibility: hidden !important;
        }

.brand-logo {
    min-height: 70px;
    padding: 0 24px;
}

.unlimited-access {
    padding: 18px 22px 25px;
    margin: 0 -5px;
}

    .unlimited-access .unlimited-access-img {
        margin: -35px -5px 0 -43px;
    }

.nav-small-cap {
    margin-top: 24px;
    color: #2A3547;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 12px;
    line-height: 26px;
    text-transform: uppercase;
}

    .nav-small-cap .nav-small-cap-icon {
        display: none;
    }

.sidebar-nav ul .sidebar-item .sidebar-link {
    color: #2A3547;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 25px;
    position: relative;
    margin: 0px 0px 2px;
    padding: 10px;
    border-radius: 7px;
    gap: 15px;
    font-weight: 400;
}

    .sidebar-nav ul .sidebar-item .sidebar-link span:first-child {
        display: flex;
    }

    .sidebar-nav ul .sidebar-item .sidebar-link .ti {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        font-size: 21px;
    }

    .sidebar-nav ul .sidebar-item .sidebar-link:hover {
        background-color: rgba(93, 135, 255, 0.1);
        color: #5D87FF;
    }

        .sidebar-nav ul .sidebar-item .sidebar-link:hover.has-arrow:after {
            border-color: #5D87FF;
        }

    .sidebar-nav ul .sidebar-item .sidebar-link.active:hover.has-arrow:after {
        border-color: #fff;
    }

.sidebar-nav ul .sidebar-item .link-disabled {
    opacity: 0.38;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link, .sidebar-nav ul .sidebar-item.selected > .sidebar-link.active, .sidebar-nav ul .sidebar-item > .sidebar-link.active {
    background-color: #5D87FF;
    color: #fff;
}

.sidebar-nav .sidebar-list .sidebar-list-item {
    padding: 8px 0;
}

.collapse.in {
    display: block;
}

.app-header {
    position: relative;
    z-index: 50;
    width: 100%;
    background: #fff;
    padding: 0 25px;
}

    .app-header .container-fluid, .app-header .container-lg, .app-header .container-md, .app-header .container-sm, .app-header .container-xl, .app-header .container-xxl {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .app-header .navbar {
        min-height: 70px;
        padding: 0;
    }

        .app-header .navbar .navbar-nav .nav-item .nav-link {
            padding: 8px 16px;
            line-height: 70px;
            height: 70px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            font-size: 20px;
            z-index: 2;
        }

        .app-header .navbar .navbar-nav.quick-links .nav-item .nav-link {
            font-size: 0.875rem;
            position: relative;
            z-index: 2;
        }

        .app-header .navbar .navbar-nav.quick-links .nav-item:hover .nav-link {
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            color: #5D87FF !important;
        }

            .app-header .navbar .navbar-nav.quick-links .nav-item:hover .nav-link:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 36px;
                width: 100%;
                border-radius: 7px;
                background: #ECF2FF;
                z-index: -1;
            }

.nav-icon-hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .nav-icon-hover:hover:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        z-index: -1;
        border-radius: 100px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #ECF2FF;
    }

.navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 200px;
}

    .navbar-nav .dropdown-menu .dropdown-item {
        border-radius: 8px;
    }

.notification {
    content: "";
    position: absolute;
    top: 22px;
    right: 9px;
    width: 8px;
    height: 8px;
}

@media (max-width:991.98px) {
    .app-header .navbar {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

        .app-header .navbar .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
}

@media (max-width:767.98px) {
    .navbar-nav .dropdown-menu {
        position: absolute;
        width: 100%
    }

    .navbar-nav .nav-item.dropdown {
    }
}

@-webkit-keyframes animation-dropdown-menu-move-up-scroll {
    0% {
        top: 71px;
    }

    to {
        top: 70px;
    }
}

@keyframes animation-dropdown-menu-move-up-scroll {
    0% {
        top: 71px;
    }

    to {
        top: 70px;
    }
}

@-webkit-keyframes animation-dropdown-menu-fade-in {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animation-dropdown-menu-fade-in {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdown-menu-animate-up {
    -webkit-animation: animation-dropdown-menu-fade-in 0.5s ease 1, animation-dropdown-menu-move-up 0.5s ease-out 1;
    animation: animation-dropdown-menu-fade-in 0.5s ease 1, animation-dropdown-menu-move-up 0.5s ease-out 1;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@media (max-width:991.98px) {
    .w-xs-100 {
        width: 100% !important;
    }
}

.page-wrapper {
    position: relative;
}

.body-wrapper {
    position: relative;
}

    .body-wrapper > .container-fluid, .body-wrapper > .container-lg, .body-wrapper > .container-md, .body-wrapper > .container-sm, .body-wrapper > .container-xl, .body-wrapper > .container-xxl {
        max-width: 1200px;
        margin: 0 auto;
        padding: 24px;
        -webkit-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }

@media (max-width:767.98px) {
    .body-wrapper > .container-fluid, .body-wrapper > .container-lg, .body-wrapper > .container-md, .body-wrapper > .container-sm, .body-wrapper > .container-xl, .body-wrapper > .container-xxl {
        padding: 30px 20px;
    }
}

.simplebar-scrollbar:before {
    background: rgba(0, 0, 0, 0.5) !important;
}

#main-wrapper[data-layout=vertical][data-sidebar-position=fixed] .left-sidebar {
    position: fixed;
    top: 0;
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .app-header {
    position: fixed;
    z-index: 10;
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper > .container-fluid, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper > .container-lg, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper > .container-md, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper > .container-sm, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper > .container-xl, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper > .container-xxl {
    padding-top: calc(70px + 15px);
}

@media (min-width:1200px) {
    #main-wrapper[data-layout=vertical][data-header-position=fixed][data-sidebartype=mini-sidebar] .app-header {
        width: 100%
    }

    #main-wrapper[data-layout=vertical][data-header-position=fixed] .app-header {
        width: calc(100% - 270px);
    }

    #main-wrapper[data-layout=vertical][data-sidebartype=full] .body-wrapper {
        margin-left: 270px;
    }
}

@media (max-width:1199px) {
    #main-wrapper[data-layout=vertical][data-sidebartype=full] .left-sidebar, #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .left-sidebar {
        left: -270px;
    }

    #main-wrapper[data-layout=vertical][data-sidebartype=full].show-sidebar .left-sidebar, #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar].show-sidebar .left-sidebar {
        left: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

    a:hover {
        color: #5D87FF;
    }

ul {
    list-style: none;
    padding-left: 0;
}

:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.calendar-events {
    cursor: move;
}

.object-fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.card-title {
    font-size: 18px;
}

.card-subtitle {
    font-size: 14px;
}

.card {
    margin-bottom: 30px;
}

.card-hover {
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

    .card-hover:hover {
        -webkit-transform: translate3d(0px, -5px, 0px);
        transform: translate3d(0px, -5px, 0px);
    }

.round-8 {
    width: 8px;
    height: 8px;
}

.round-20 {
    width: 20px !important;
    height: 20px !important;
}

.radial-gradient {
    position: relative;
}

    .radial-gradient:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        background: radial-gradient(rgb(210, 241, 223), rgb(211, 215, 250), rgb(186, 216, 244)) 0% 0%/400% 400%;
        -webkit-animation: 15s ease 0s infinite normal none running gradient;
        animation: 15s ease 0s infinite normal none running gradient;
    }

.timeline-widget .timeline-item {
    min-height: 70px;
}

    .timeline-widget .timeline-item .timeline-time {
        padding: 6px 16px 6px 0;
        min-width: 90px;
    }

    .timeline-widget .timeline-item .timeline-badge-wrap .timeline-badge {
        width: 12px;
        height: 12px;
        border-radius: 50px;
        background-color: transparent;
    }

    .timeline-widget .timeline-item .timeline-badge-wrap .timeline-badge-border {
        width: 1px;
        height: 100%;
        background-color: #ebf1f6;
    }

    .timeline-widget .timeline-item .timeline-desc {
        padding: 6px 16px;
    }

    .timeline-widget .timeline-item .timeline-badge.badge-primary {
        border: 2px solid #5D87FF;
    }
/*sá»­a sau*/
.dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up.show {
    position: absolute;
    width: 100%;
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
.searchForm {
    display: flex;
    position: relative;
    border: 1px solid rgba(22, 24, 35, 0.15);
    border-radius: 2px;
}

.searchForm:focus-within {
    border: 1px solid rgba(22, 24, 35, 0.4);
}

.searchForm > input {
    flex: 1;
    outline: none;
    border: none;
}

.searchForm > button {
    color: rgba(22, 24, 35, 0.34);
}

.page-link.active {
    color: red;
}
@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

/*style tab*/
:root {
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --nav-width: 4em;
    --font-body: "sofia-pro",sans-serif;
    --font-head: "sofia-pro",sans-serif;
    --font-code: "attribute-mono",monospace;
}

div.main_tab {
    margin: 0;
    font-family: var(--font-body);
    flex-direction: column
}

.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    font-weight: 600;
    margin: .25em .1em
}

.tag-sm {
    font-size: .7em;
    display: inline-block;
    letter-spacing: .15ch;
    font-weight: 400
}

.tag-lg {
    font-size: 1.2em;
    border-radius: 4px
}

.tag-bg {
    background: var(--background)
}

.tag-firebase {
    background: #ffcb2b;
    color: #12181a
}
